
.card{
    padding: 2em;
}

.read-the-docs{
    color: #888;
}

input[type=radio]{
    display: none;
}

.star{
    margin-right: 10;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-message{
    width: 90%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    color: #40506c;
    margin: 1rem;
}
.btn-send{
    width: 12rem;
    background-color: #3287f6;
}