.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('src/Assets/fondo.jpg');  */
    background-color: #111827;
    background-size: cover;
    background-position: center;
  }
  
  .login-card {
    background-color: #FFFAFA;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
  }
  
  .login-form {
    padding: 20px;
  }
  
  .login-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }

  .login-image img:hover {
    transform: scale(1.05); 
  }
  
  @media (min-width: 768px) {
    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .register-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #1d4ed8;
  }