@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");

:root {
  background-color: #dfe2e6;
  font-family: "Aleo", serif;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translateX(calc(-120px * 5 - 0.5rem * 10));
  }
}

.dark {
  background-color: #171717;
  color: white;
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
.custom-breadcrumb a {
  font-size: 1.3rem !important;
}
.custom-breadcrumb span {
  color: #10173d;
  font-size: 1.3rem !important;
}
.custom-breadcrumb svg {
  scale: 1.4 !important;
}
.custom-breadcrumb svg:hover {
  scale: 1.8 !important;
}
.custom-breadcrumb {
  cursor: pointer;
  margin: 0.5rem 0 3rem 0.5rem;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.custom-file-input input[type="file"]::file-selector-button {
  background-color: #1a53d9;
}

.custom div {
  background-color: #4ba0e6;
}
.custom span {
  background-color: #ffffff;
}

.custom-bar::-webkit-scrollbar {
  display: none;
}

.p0 div {
  padding: 0;
}

.custom-DatePicker .bg-cyan-700 {
  background: #1e439fdc;
}

.custom-Select select {
  padding: 0.81rem;
}

[data-testid="carousel"] {
  height: 25rem;
}

.gradiant {
  mask-image: linear-gradient(black 10%, traparent);
}

@media (max-width: 640px) {
  .custom-breadcrumb a,
  .custom-breadcrumb span {
    font-size: 0.8rem !important;
  }
  .custom span {
    background-color: #ffffff;
  }
  .custom div {
    background-color: #21425e;
  }
}

.custom-toogle {
  background-color: #ffffff;
}

.custom-Sidebar div {
  background-color: transparent;
}
.custom-Sidebar :hover a {
  background-color: transparent;
}
.custom-Group :hover a {
  scale: 115%;
  cursor: pointer;
  color: #4ba0e6;
}

[data-testid="carousel-indicator"] {
  filter: invert();
  transition: background-color 0.3s ease;
}

[data-testid="carousel-indicator"]:hover {
  background-color: black !important;
}



.dark input[data-testid="floating-label"]  {
  background-color: #374151;
}
.dark input[data-testid="floating-label"] label  {
  background-color: #27303e;
}

.dark  [data-testid="floating-label"] ~ label {
  background-color: transparent !important;
}
 [data-testid="floating-label"] ~ label {
  color: black;
}
