@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
background-color: #dfe2e6;
}

@keyframes scroll{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translateX(calc(-120px*5 - 0.5rem * 10));
    }
}

.animate-scroll{
    animation: scroll 20s linear infinite;
}
.custom-breadcrumb a{
    font-size: 1.3rem !important;
  }
  .custom-breadcrumb span{
    font-size: 1.3rem !important;
  }
  .custom-breadcrumb svg{
    scale: 1.4 !important;
  }
  .custom-breadcrumb{
    margin: 4px;
  }